* {
    margin: 0;
    padding: 0;
    border-width: 0;
}

body {
    background: white;
}

.row {
    padding: 10px 15%;
}

.top {
    overflow: hidden;
    background-color: #6699FF;
    position: sticky;
    top: 0;
    z-index: 10;
}

.topMar {
    margin: 1px 7.5%;
}

.top a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.top a:hover {
    background-color: blue;
}

.leftCol {
    width: 70%;
    float: left;
}

.rightCol {
    width: 30%;
    float: left;
}

.title {
    margin: 20px;
    padding: 1px 5px 6px 10px;
    border-left: 5px solid #6699FF;
    color: #6699FF;
}

.news {
    border: 1px solid #6699FF;
    margin: 5px 2% 20px 2%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}

.newsDiv, .newsDiv div {
    margin: 10px 0;
    padding: 1px 5%;
}

.news img {
    margin: 0 0 10px 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    max-width: 200px;
    max-height: 200px;
    position: relative;
}

.newsTop {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0;
    width: auto;
    background-color: #6699FF;
    color: white;
    overflow: hidden;
}

.newsTop a {
    width: 120px;
    height: 100%;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.newsTop a:hover {
    background-color: blue;
    transition-duration: 0.4s;
}

@media screen and (max-width: 1200px) {
    .leftCol, .rightCol {
        width: 100%;
    }

    .row {
       padding: 10px 5%;
    }

    .topMar {
        margin: 1px 2.5%;
    }
}